<link rel="stylesheet" href="/css/servicesection.css">

<div class="service-section-container">
    <table class="tabular-service-table">
        <tr class="first-row">
            <th class="tabular-service-title">{{serviceTitle}}</th>
            {{#optionChoices1}}
                <th class="tabular-service-option">{{this}}</th>
            {{/optionChoices1}}
        </tr>
        {{#if (isNonEmpty services)}}
            {{#each services}}
                <tr>
                    <td class="tabular-service-suboption">{{serviceOption2}}</td>
                    {{#each prices}}
                        {{#if (isZero this)}}
                            <td class="no-price"></td>
                        {{else}}
                            <td class="tabular-service-price">{{this}}</td>
                        {{/if}}
                    {{/each}}
                </tr>
            {{/each}}
        {{/if}}
    </table>

    {{#if (isNonEmpty specialServices)}}
        <hr>
        <div class="standalone-service-container">
            {{#each specialServices}}
                <div class="standalone-service-row">
                    <div class="standalone-service-option">{{this.serviceOption}}</div>
                    <div class="standalone-service-price">{{this.price}}</div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>