<link rel="stylesheet" href="/css/servicesection.css">

<div class="service-section-container">
    <table class="service-table">
        <tr class="first-row">
            <th class="service-title">{{serviceTitle}}</th>
            {{#optionChoices1}}
                <th class="service-option">{{this}}</th>
            {{/optionChoices1}}
        </tr>
        {{#each services}}
            <tr>
                <td class="service-suboption">{{serviceOption2}}</td>
                {{#each prices}}
                    {{#if (isZero this)}}
                        <td class="no-price"></td>
                    {{else}}
                        <td class="service-price">{{this}}</td>
                    {{/if}}
                {{/each}}
            </tr>
        {{/each}}
    </table>
    {{#if (isNonEmpty specialServices)}}
        <hr>
        <table class="special-service-table">
            {{#each specialServices}}
                <tr>
                    <td class="special-service-suboption">{{this.serviceOption}}</td>
                    <td class="special-service-price">{{this.price}}</td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</div>