<link rel="stylesheet" href="/css/servicecollection-preview.css">
<script type="module" src="/js/servicecollection-preview.js"></script>

<div class="service-collection-preview-container">
    <div class="service-collection-info-container">
        <div class="service-title" data-name="{{serviceTitle}}">{{serviceTitle}}</div>
        <div class="service-option-tags-container">
            {{#if (isNonEmpty optionChoices1Tags)}}
                <div class="option1-tags-container">
                    {{#each optionChoices1Tags}}
                        <div class="option1-tag">{{this}}</div>
                    {{/each}}
                </div>
            {{else}}
                <div class="empty-text">Empty</div>
            {{/if}}
            {{#if (isNonEmpty optionChoices2Tags)}}
                <div class="option2-tags-container">
                    {{#each optionChoices2Tags}}
                        <div class="option2-tag">{{this}}</div>
                    {{/each}}
                </div>
            {{else}}
                <div class="empty-text">Empty</div>
            {{/if}}
        </div>
    </div>
    <div class="service-collection-controls-container">
        <button type="button" class="edit-btn"><i class="fa fa-edit" type="submit"></i>Edit</button>
        <button type="button" class="delete-btn" data-bs-toggle="modal" data-bs-target="#delete-service-collection-modal"><i class="fa fa-trash-can"></i>Delete</button>
    </div>
</div>

