<link rel="stylesheet" href="/css/faq.css">
<link rel="stylesheet" href="/css/accordion.css">

<div id="faq-wrapper" class="row g-0 bg-noise-pattern">
    <div class="col-5" id="faq-header-container">
        <div id="faq-header">Frequently<br />Asked<br />Questions</div>
    </div>
    <div class="col-7">
        <div id="faq-container" class="accordion">
            {{#each faqs}}
                <div class="accordion-item" id="accordion-{{this._id}}">
                    <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-body-{{this._id}}" aria-expanded="false">
                        {{this.question}}
                    </button>
                    </h2>
                    <div id="accordion-body-{{this._id}}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{this.answer}}
                    </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

