<link rel="stylesheet" href="css/reservationinfo.css">
<script src="/js/auth.js"></script>

<div id="reservation-container">
    <div class="info-header">
        <h1>Your Saved Reservations</h1>
    </div>


    <div class="reservation-list-container">

        <!-- Timestamp -->

        <!-- service details -->

        <!-- status -->

        <div class="reservartion-details" id="show-reservations">
            {{#each reservation_info}}
            <div>
                {{this.timestamp}}
                {{#each this.services}}
                <div>
                    <div>
                        {{this.serviceTitle}}
                    </div>

                    <div>
                        {{this.preferredEmployee}}
                    </div>

                    <div>
                        {{this.details}}
                    </div>

                </div>
                {{/each}}

                <div>
                    {{this.status}}
                </div>

            </div>
            {{/each}}

        </div>

    </div>
</div>