<link rel="stylesheet" href="css/reservationinfo.css">
<script type="module" src="/js/auth.js"></script>
<script type="module" src="/js/reserveinfo.js"></script>

<div id="reservation-container">
    <div class="info-header">
        <h1>Your Saved Reservations</h1>
    </div>


    <div class="reservation-list-container">
        {{#each reservation_info}}
            <div></div>
            <div class="reservation-details-container" data-reservation-id="{{this.reservationID}}">
                <div class="timestamp"> {{this.timestamp}} </div>
                    <div class="services-container">
                        {{#each this.services}}
                                <div class="reservation-details">
                                    <div class="service-title">{{this.serviceTitle}}</div>
                                    <div class="preferred-employee">{{this.preferredEmployee}}</div>
                                    <div class="details">{{this.details}}</div>
                                </div>
                        {{/each}}
                    </div>
                <div class="status">{{this.status}}</div>
            </div>
        {{/each}}
    </div>
</div>